.cache/
.config/autostart/
.config/BraveSoftware/
.config/cef_user_data/
.config/dconf/
.config/discord/
.config/keepassxc/
.config/lutris/
.config/mpv/
.config/nvim/plugged/*
.config/pulse
!.config/pulse/*conf
.config/spotify/
.config/QtProject.conf
.dbus/
.dropbox*
.gnupg/
.local/lib/
.local/include/
.local/share/
.pki/
.ssh/
.steam/
Dev/
Documents/
Downloads/
Dropbox/
go/
Pictures/
.bash_history
.lesshst
.python_history
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
