.cache/
.config/autostart/
.config/BraveSoftware/
.config/cef_user_data/
.config/dconf/
.config/discord/
.config/keepassxc/
.config/lutris/
.config/mpv/
.config/pulse/
.config/spotify/
.config/QtProject.conf
.dbus/
.dropbox*
.gnupg/
.local/lib/
.local/share/
.local/src/**/.git
.pki
.steam
.vim
Documents/
Downloads/
Dropbox/
go/
Pictures/
.bash_history
.lesshst
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
